<!-- Footer -->
<footer>
    <div id="footerContainer" class="container-fluid">
        <div class="container">
            <div id="footerContent" class="row">
                <div class="col-6">
                    <p class="footerTitle">Dirección</p>
                    <p class="footerParagraph">Instituto Tecnológico de Tijuana Calzada Del Tecnológico S/N, Fraccionamiento Tomas Aquino. Tijuana, Baja California. C.P. 22414</p>
                    <p class="footerTitle">Contacto</p>
                    <p class="footerParagraph">Telefono 664 607 8400</p>
                </div>
                <div id="footerImageSection" class="col-6">
                    <img id="footerImage" src="img/ittOtay.jpg">
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer -->