<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-6">
      <div id="sectionForm">
        <p id="formTitle">Registro de empresa</p>
        <p class="formSubtitle">Perfil del usuario</p>
        <hr id="formDivider" class="contentDivider">
        <form action="#" method="POST">
          <label for="txtNombre" class="col-form-label">Nombre(s)</label>
          <input id="txtNombre" type="text" class="form-control" placeholder="Nombre(s)">
          <label for="txtApellidos" class="col-form-label">Apellidos</label>
          <input id="txtApellidos" type="text" class="form-control" placeholder="Apellidos">
          <label for="txtTelefono" class="col-form-label">Teléfono</label>
          <input id="txtTelefono" type="text" class="form-control" placeholder="Número">
          <label for="txtCargo" class="col-form-label">Cargo en la empresa</label>
          <input id="txtCargo" type="text" class="form-control" placeholder="Cargo en la empresa">
          <p class="formSubtitle">Datos de acceso</p>
          <hr id="formDivider" class="contentDivider">
          <label for="txtMail" class="col-form-label">Correo</label>
          <input id="txtMail" type="text" class="form-control" placeholder="Correo">
          <label for="txtPassword" class="col-form-label">Contraseña</label>
          <input id="txtPassword" type="password" class="form-control" placeholder="Contraseña">
          <div class="row">
              <div class="col-6">
                  <button id="btnLogInMail" class="buttonSolidInverted btn btn-outline-success" type="submit">Cancelar</button>
              </div>
              <div class="col-6">
                  <button id="btnLogInMail" class="buttonSolid btn btn-outline-success" type="submit">Seguir</button>
              </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>