<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-6">

      <div id="companyRegistrationForm">
        <p id="formTitle">Registro de empresa</p>

        <form action="/company/register" method="POST">

          <div id="companyUserSection">
            <p class="formSubtitle">Perfil del usuario</p>
            <hr id="formDivider" class="contentDivider">
            <label for="txtName" class="col-form-label">Nombre(s)</label>
            <input id="txtName" type="text" class="form-control" placeholder="Nombre(s)" name="name" required>
            <label for="txtLastName" class="col-form-label">Apellidos</label>
            <input id="txtLastName" type="text" class="form-control" placeholder="Apellidos" name="lastName" required>
            <label for="txtPhone" class="col-form-label">Teléfono</label>
            <input id="txtPhone" type="text" class="form-control" placeholder="Número" name="phoneNumber" required>
            <label for="txtPosition" class="col-form-label">Cargo en la empresa</label>
            <input id="txtPosition" type="text" class="form-control" placeholder="Cargo en la empresa" name="title" required>
            <p class="formSubtitle">Datos de acceso</p>
            <hr id="formDivider" class="contentDivider">
            <label for="txtMail" class="col-form-label">Correo</label>
            <input id="txtMail" type="text" class="form-control" placeholder="Correo" name="email" required>
            <label for="txtPassword" class="col-form-label">Contraseña</label>
            <input id="txtPassword" type="password" class="form-control" placeholder="Contraseña" name="password" required>
          </div> 
          <div id="companyInfoSection">
            <p class="formSubtitle">Información de Empresa</p>
            <hr id="formDivider" class="contentDivider">
            <label for="txtCompanyName" class="col-form-label">Nombre de la empresa</label>
            <input id="txtCompanyName" type="text" class="form-control" placeholder="Nombre de la empresa" name="companyName" required>
            <label for="listCompanyBusiness" class="col-form-label">Giro</label>
            <select id="listCompanyBusiness" class="form-select" name="companyBusiness" required>
              <option value="">Selecciona...</option>
              <option value="Agencia Aduanal">Agencia Aduanal</option>
              <option value="Agencia de Autos">Agencia de Autos</option>
              <option value="Agencias de Autos Nuevos">Agencias de Autos Nuevos</option>
              <option value="Alimentos">Alimentos</option>
              <option value="Asociación Civil">Asociación Civil</option>
              <option value="Bienes Raices / Inmobiliaria">Bienes Raices / Inmobiliaria</option>
              <option value="Clínica">Clínica</option>
              <option value="Comercializadoras">Comercializadoras</option>
              <option value="Construcción">Construcción</option>
              <option value="Constructora y Servicios">Constructora y Servicios</option>
              <option value="Consultoria">Consultoria</option>
              <option value="De Servicios">De Servicios</option>
              <option value="Dependencia Gubernamental">Dependencia Gubernamental</option>
              <option value="Diseño y Administración Sitios Web">Diseño y Administración Sitios Web</option>
              <option value="Educativa">Educativa</option>
              <option value="Electricidad y Agua">Electricidad y Agua</option>
              <option value="Entretenimiento">Entretenimiento</option>
              <option value="Farmacéutica">Farmacéutica</option>
              <option value="Financiera">Financiera</option>
              <option value="Ganadería">Ganadería</option>
              <option value="Gasolineria">Gasolineria</option>
              <option value="Higiene Industrial">Higiene Industrial</option>
              <option value="Hospital">Hospital</option>
              <option value="Hotelería y Turismo">Hotelería y Turismo</option>
              <option value="Imprenta y Editoriales">Imprenta y Editoriales</option>
              <option value="Industria de Exportación">Industria de Exportación</option>
              <option value="Industrias Diversas">Industrias Diversas</option>
              <option value="Informatica">Informatica</option>
              <option value="Logística">Logística</option>
              <option value="Manufacturera">Manufacturera</option>
              <option value="Manufacturera (Nacional.)">Manufacturera (Nacional.)</option>
              <option value="Maquiladora (Export.)">Maquiladora (Export.)</option>
              <option value="Medicina">Medicina</option>
              <option value="Medios de Comunicación">Medios de Comunicación</option>
              <option value="Mercadotecnia">Mercadotecnia</option>
              <option value="Metal Mecánico">Metal Mecánico</option>
              <option value="Minería Extracción">Minería Extracción</option>
              <option value="Mueblero Artesanal">Mueblero Artesanal</option>
              <option value="Pesca">Pesca</option>
              <option value="Plástico">Plástico</option>
              <option value="Publicidad / Relaciones Públicas">Publicidad / Relaciones Públicas</option>
              <option value="Químico">Químico</option>
              <option value="Reclutadora">Reclutadora</option>
              <option value="Salud">Salud</option>
              <option value="Servicios">Servicios</option>
              <option value="Servicios de ingeniería">Servicios de ingeniería</option>
              <option value="Servicios Publicos">Servicios Publicos</option>
              <option value="Sistema de Cómputo">Sistema de Cómputo</option>
              <option value="Sistema de Monitoreo">Sistema de Monitoreo</option>
              <option value="Telecomunicaciones">Telecomunicaciones</option>
              <option value="Telemarketing">Telemarketing</option>
              <option value="Textil y Vestido">Textil y Vestido</option>
              <option value="Varios Giros">Varios Giros</option>
            </select>
            <label for="txtEmployeeNumber" class="col-form-label">Número de empleados</label>
            <input id="txtEmployeeNumber" type="text" class="form-control" placeholder="Número de empleados" name="quantityEmployees" required>
            <label for="txtMainActivity" class="col-form-label">Actividad principal</label>
            <input id="txtMainActivity" type="text" class="form-control" placeholder="Actividad principal" name="mainRole" required>
            <label for="txtWebSite" class="col-form-label">Sitio web</label>
            <input id="txtWebSite" type="text" class="form-control" placeholder="Sitio web" name="webPage">
            <label for="txtDescription" class="col-form-label">Descripción</label>
            <input id="txtDescription" type="text" class="form-control" placeholder="Descripción" name="description" required>
          </div> 
          <div id="branchInfoSection">
            <p class="formSubtitle">Perfil de sucursal</p>
            <hr id="formDivider" class="contentDivider">
            <label for="txtBranchName" class="col-form-label">Nombre de la sucursal</label>
            <input id="txtBranchName" type="text" class="form-control" placeholder="Nombre de la sucursal" name="branchName" required>
            <p class="formSubtitle">Ubicación de sucursal</p>
            <hr id="formDivider" class="contentDivider">
            <label for="listState" class="col-form-label">Estado</label>
            <select id="listState" class="form-select" name="state" required>
              <option value="">Seleccionar Estado...</option>
              <option value="Aguascalientes">Aguascalientes</option>
              <option value="Baja California">Baja California</option>
              <option value="Baja California Sur">Baja California Sur</option>
              <option value="Campeche">Campeche</option>
              <option value="Chiapas">Chiapas</option>
              <option value="Chihuahua">Chihuahua</option>
              <option value="Coahuila">Coahuila</option>
              <option value="Colima">Colima</option>
              <option value="Distrito Federal">Distrito Federal</option>
              <option value="Durango">Durango</option>
              <option value="Estado de  México">Estado de  México</option>
              <option value="Guanajuato">Guanajuato</option>
              <option value="Guerrero">Guerrero</option>
              <option value="Hidalgo">Hidalgo</option>
              <option value="Jalisco">Jalisco</option>
              <option value="Michoacán">Michoacán</option>
              <option value="Morelos">Morelos</option>
              <option value="Nayarit">Nayarit</option>
              <option value="Nuevo Leon">Nuevo Leon</option>
              <option value="Oaxaca">Oaxaca</option>
              <option value="Puebla">Puebla</option>
              <option value="Querétaro">Querétaro</option>
              <option value="Quintana Roo">Quintana Roo</option>
              <option value="San Luis Potosí">San Luis Potosí</option>
              <option value="Sinaloa">Sinaloa</option>
              <option value="Sonora">Sonora</option>
              <option value="Tabasco">Tabasco</option>
              <option value="Tamaulipas">Tamaulipas</option>
              <option value="Tlaxcala">Tlaxcala</option>
              <option value="Veracruz">Veracruz</option>
              <option value="Yucatán">Yucatán</option>
              <option value="Zacatecas">Zacatecas</option>
            </select>
            <label for="txtCity" class="col-form-label">Ciudad</label>
            <input id="txtCity" type="text" class="form-control" placeholder="Ciudad" name="city" required>
            <div class="row">
              <div class="col-8">
                <label for="txtStreet" class="col-form-label">Calle</label>
                <input id="txtStreet" type="text" class="form-control" placeholder="Calle" name="street" required>
              </div>
              <div class="col-4">
                <label for="txtNumber" class="col-form-label">Número</label>
                <input id="txtNumber" type="text" class="form-control" placeholder="Número" name="streetNumber" required>
              </div>
            </div>
            <div class="row">
              <div class="col-8">
                <label for="txtSuburb" class="col-form-label">Colonia</label>
                <input id="txtSuburb" type="text" class="form-control" placeholder="Colonia" name="suburb" required>
              </div>
              <div class="col-4">
                <label for="txtZip" class="col-form-label">Código postal</label>
                <input id="txtZip" type="text" class="form-control" placeholder="Código postal" name="zip" required>
              </div>
            </div>
            <p class="formSubtitle">Contacto de la sucursal</p>
            <hr id="formDivider" class="contentDivider">
            <label for="txtNameContact" class="col-form-label">Nombre completo del contacto</label>
            <input id="txtNameContact" type="text" class="form-control" placeholder="Nombre completo del contacto" name="contactName" required>
            <label for="txtMailContact" class="col-form-label">Correo electrónico</label>
            <input id="txtMailContact" type="text" class="form-control" placeholder="Correo electrónico" name="contactMail" required>
            <label for="txtPhoneContact" class="col-form-label">Número de teléfono</label>
            <input id="txtPhoneContact" type="text" class="form-control" placeholder="Número de teléfono" name="contactPhone" required>
            <p class="formSubtitle">Beneficios de la sucursal</p>
            <hr id="formDivider" class="contentDivider">
            <p class="formContent">Marca los beneficios y prestaciones que ofrece su empresa.</p>
            
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="1" id="chkBenefit1">
              <label class="form-check-label" for="chkBenefit1">Seguro de vida</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="1" id="chkBenefit2">
              <label class="form-check-label" for="chkBenefit2">Bonos anuales</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="1" id="chkBenefit3">
              <label class="form-check-label" for="chkBenefit3">Guardería</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="1" id="chkBenefit4">
              <label class="form-check-label" for="chkBenefit4">Caja de ahorro</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="1" id="chkBenefit5">
              <label class="form-check-label" for="chkBenefit5">Comedor</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="1" id="chkBenefit6">
              <label class="form-check-label" for="chkBenefit6">Fondo de ahorro</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="1" id="chkBenefit7">
              <label class="form-check-label" for="chkBenefit7">Transporte</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="1" id="chkBenefit8">
              <label class="form-check-label" for="chkBenefit8">Uniforme</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="1" id="chkBenefit9">
              <label class="form-check-label" for="chkBenefit9">Descuentos de productos</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="1" id="chkBenefit10">
              <label class="form-check-label" for="chkBenefit10">Gimnasio</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="1" id="chkBenefit11">
              <label class="form-check-label" for="chkBenefit11">Seguro de gastos médicos</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="1" id="chkBenefit12">
              <label class="form-check-label" for="chkBenefit12">Plan de indexación</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="1" id="chkBenefit13">
              <label class="form-check-label" for="chkBenefit13">Utilidades garantizadas</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="1" id="chkBenefit14">
              <label class="form-check-label" for="chkBenefit14">Servicios médicos en planta</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="1" id="chkBenefit15">
              <label class="form-check-label" for="chkBenefit15">Regaderas</label>
            </div>
            <div class="row">
                <div class="col-6">
                    <button class="buttonSolidInverted btnLong btn btn-outline-success" type="button" onclick="branchSectionBack()">Atrás</button>
                </div>
                <div class="col-6">
                    <button class="buttonSolid btnLong btn btn-outline-success">Listo</button>
                </div>
            </div>
          </div> 
        </form>     
      </div>
    </div>
  </div>
</div>