<div id="companyIdentityBanner" class="container-fluid d-flex">
    <div class="container">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-9" style="padding: 30px 0px 0px 22px;">
                <div id="companyIdentity">
                    <p id="companyName">Medtronic México, S. de R.L. de C.V. (El Lago)</p>
                    <p id="companyDescription">Manufactura de productos médicos.</p>
                    <hr class="companySectionDivider">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div id="companyInformationSection" class="col-3">
            <img id="companyLogo" src="../img/logoMedtronic.png">
            <hr class="infoSectionDivider">
            <div class="infoSection">
                <p class="infoTitle">Organización</p>
                <p class="infoParagraph">Medtronic México, S. de R.L. de C.V. (El Lago)</p>
            </div>
            <hr class="infoSectionDivider">
            <div class="infoSection">
                <p class="infoTitle">Giro</p>
                <p class="infoParagraph">Maquiladora (Export.)</p>
            </div>
            <hr class="infoSectionDivider">
            <div class="infoSection">
                <p class="infoTitle">Actividad principal</p>
                <p class="infoParagraph">Manufactura de productos médicos.</p>
            </div>
            <hr class="infoSectionDivider">
            <div class="infoSection">
                <p class="infoTitle">Número de empleados</p>
                <p class="infoParagraph">5500</p>
            </div>
            <hr class="infoSectionDivider">
            <div class="infoSection">
                <p class="infoTitle">Sitio Web</p>
                <p class="infoParagraph">https://www.medtronic.com/</p>
            </div>
            <hr class="infoSectionDivider">
        </div>
        <div class="col-9" style="padding: 0;">
            <div class="contentSection">
                <p class="contentTitle">Información</p>
                <p class="contentParagraph">Medtronic ha invertido en la creación de productos para pacientes y médicos del mundo. la compañía está presente en todos los mercados y dirige centros de investigación y desarrollo y plantas de producción en todo el mundo.
                    <br><br>La sede corporativa de Minneapolis, Minnesota usa, se amplió en 2001 anticipándose al crecimiento continuo previsto por la compañía para los próximos 5 a 10 años. Alberga un moderno centro de investigación, así como un centro de formación y capacitación que recibe más de 5.000 visitas cada año de los médicos con más prestigio internacional.
                    <br><br>Medtronic is the world leader in medical technology providing lifelong solutions for people with chronic disease. we offer products, therapies and services that enhance or extend the lives of millions of people. each year, 2.5 million patients benefit from medtronic`s technology, used to treat conditions such as heart disease, neurological disorders, and vascular illnesses.</p>
                    
                <p class="contentTitle">Vacantes</p>
                <hr class="contentDivider">
                <div class="vacantElement flex">
                    <p class="vacantName">Supervisor Sr de Aseguramiento de Calidad</p>
                    <p class="vacantSalary">$15,000 mensual</p>
                    <p class="vacantDescription">Carrera Profesional concluida (Ing en electronica, mecatronica, sistemas, etc)
                        5 Años de experiencia en la industria medica y en area de calidad, Conocimiento avanzado en Microsoft,(Macros)</p>
                    <p class="vacantDate">05 Nov Tijuana</p>
                </div>
            </div>
        </div>
    </div>
</div>