<div class = 'container'>
    <div class="row justify-content-md-center">
        <div class="col-6" id="sectionForm">
            <p id = "formTitle">Contáctanos</p>
            <p class="formContent">Envía un mensaje para ayudar a mejorar nuestro servicio hacía los usuarios</p>
            <label for="txtName" class="col-form-label">Nombre</label>
            <input id="txtName" type="text" class="form-control" name="person" placeholder="Nombre" required>
            <label for="txtEmail" class="col-form-label">Correo electrónico</label>
            <input id="txtEmail" type="text" class="form-control" name="e-mail" placeholder="Correo electrónico" required>
            <label for="txtMessage" class="col-form-label">Mensaje</label>
            <textarea id="txtMessage" class="form-control" name="message" rows="4" placeholder="Mensaje" required></textarea>
            <button class="buttonSolid btn btn-outline-success btnMargin" type="submit">Enviar</button>
        </div>
    </div>
</div>