<div id="main-banner" class="container-fluid">
            <div class="container">
                <div class="col">
                    <div id="homeSearchBar" class="row justify-content-center">
                        <div class="col-4">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text"><i id="searchIcon" class="material-icons">search</i></span>
                                </div>
                                <input type="text" id="buscarEmpresa" class="form-control" placeholder="Puesto o empresa">
                            </div>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-outline-success" type="submit">Buscar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="containerCompany" class="container">
            <div class="d-flex justify-content-around">
                <div class="logoHolder">
                    <img class="companyImage" src="img/logoCocaCola.png" alt="Coca Cola">
                </div>
                <div class="logoHolder">
                    <img class="companyImage" src="img/logoBose.png" alt="Bose">
                </div>
                <div class="logoHolder">
                    <img class="companyImage" src="img/logoFoxconn.png" alt="Foxconn">
                </div>
                <div class="logoHolder">
                    <img class="companyImage" src="img/logoPoly.png" alt="Poly">
                </div>
                <div class="logoHolder">
                    <img class="companyImage" src="img/logoSamsung.png" alt="Samsung">
                </div>
                <div class="logoHolder">
                    <img class="companyImage" src="img/logoMedtronic.png" alt="Medtronic">
                </div>
            </div>
        </div>

        <div id="containerInfo" class="container">
            <div class="row">
                <div class="col-7">
                    <p class="homeTitle">¡Bienvenido a la Feria del Empleo Virtual!</p>
                    <p class="homeParagraph">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu lacus sed tellus fringilla tincidunt. Aenean dui mi, consectetur non turpis vitae, maximus tempor lectus. Praesent luctus egestas feugiat. Sed ac fermentum elit. Nunc sit amet pellentesque nunc. Etiam velit odio, porttitor tempor cursus sed, luctus egestas neque. Pellentesque pulvinar mi sit amet diam iaculis, eu lobortis felis fringilla. Morbi maximus augue neque, eget dapibus nunc mollis at.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu lacus sed tellus fringilla tincidunt. Aenean dui mi, consectetur non turpis vitae, maximus tempor lectus. Praesent luctus egestas feugiat. Sed ac fermentum elit. Nunc sit amet pellentesque nunc. Etiam velit odio, porttitor tempor cursus sed, luctus egestas neque. Pellentesque pulvinar mi sit amet diam iaculis, eu lobortis felis fringilla. Morbi maximus augue neque, eget dapibus nunc mollis at.
                    </p>
                </div>
                <div class="col-5">
                    <img class="homeImage" src="img/person1.png">
                </div>
            </div>
        </div>