<div id="companyIdentityBanner" class="container-fluid d-flex">
    <div class="container">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-9" style="padding: 30px 0px 0px 22px;">
                <div id="companyIdentity">
                    <p id="companyName">Practicante de Soporte Tecnico</p>
                    <p id="companyDescription">Medtronic México, S. de R.L. de C.V. (El Lago)</p>
                    <hr class="companySectionDivider">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div id="companyInformationSection" class="col-3">
            <img id="companyLogo" src="../img/logoMedtronic.png">
            <hr class="infoSectionDivider">
            <div class="infoSection">
                <p class="infoTitle">Número de vacantes:</p>
                <p class="infoParagraph">1</p>
            </div>
            <hr class="infoSectionDivider">
            <div class="infoSection">
                <p class="infoTitle">Área</p>
                <p class="infoParagraph">Sistemas</p>
            </div>
            <hr class="infoSectionDivider">
            <div class="infoSection">
                <p class="infoTitle">Salario</p>
                <p class="infoParagraph">No especificado</p>
            </div>
            <hr class="infoSectionDivider">
            <div class="infoSection">
                <p class="infoTitle">Contrato</p>
                <p class="infoParagraph">Temporal</p>
            </div>
            <hr class="infoSectionDivider">
            <div class="infoSection">
                <p class="infoTitle">Horario</p>
                <p class="infoParagraph">Lunes a Viernes (07:00 a 17:06)</p>
            </div>
            <hr class="infoSectionDivider">
        </div>
        <div class="col-9" style="padding: 0;">
            <div class="contentSection">
                <p class="contentTitle">Descripción y detalle de las actividades</p>
                <hr class="contentDivider">
                <p class="contentParagraph">-Instalacion de software, hardware, reparaciones e instalaciones.<br>
                                            -Resolver problemas de telefonia, configuracion de video conferencias. <br>
                                            -Soporte tecnico general.<br>
                                            -Contribucion en diferentes proyectos con el equipo de trabajo.</p>
                <p class="contentTitle">Requisitos</p>
                <hr class="contentDivider">
                <p class="contentParagraph">-Ser estudiante de 7mo semestre en adelante, de la carrera de Ing en sistemas, informatica, etc<br>
                                            -Experiencia no indispensable</p>
            </div>
            <div class="col-12 d-flex justify-content-end">
                <div class="col-3">
                    <button class="buttonSolid btn btn-outline-success btn-wide" type="button" onclick="">Solicitar puesto</button>
                </div>
            </div>
        </div>
    </div>
</div>