<div id="mini-banner" class="container-fluid">
    <div class="container">
        <div class="col">
            <div id="vacantsSearchBar" class="row">
                <div class="col-4">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i id="searchIcon" class="material-icons">search</i></span>
                        </div>
                        <input type="text" id="buscarEmpresa" class="form-control" placeholder="Puesto o empresa">
                    </div>
                </div>
                <div class="col-auto">
                    <button class="buttonBorder btn btn-outline-success" type="submit">Buscar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <p id="searchMatches"><b>19</b> empleos de <b>software development</b></p>
    <hr id="searchDivider" class="contentDivider">
    <div class="row">
        <div class="col-11">
            <div class="row justify-content-center">
                <div class="col-2">
                    <img id="vacantLogo" src="img/logoMedtronic.png">
                </div>
                <div class="col-9">
					<div class="vacantElement flex">
                        <p class="vacantName">Ingeniero en Software II para area de Calidad</p>
                        <p class="vacantSalary">$15,000 mensual</p>
                        <p class="vacantCompany">Medtronic México, S. de R.L. de C.V. (El Lago)</p>
                        <p class="vacantDescription max-lines">Desarrolla, modifica, aplica y mantiene estándares y protocolos de calidad para procesar materiales en productos de materiales terminados o parcialmente terminados. Colabora con las funciones de ingeniería y fabricación para garantizar que se cumplan los estándares de calidad.</p>
                        <p class="vacantDate">18 Nov Tijuana</p>
                    </div>
                </div>
                <hr class="vacantsDivider">
                <div class="col-2">
                    <img id="vacantLogo" src="img/logoMedtronic.png">
                </div>
                <div class="col-9">
					<div class="vacantElement flex">
                        <p class="vacantName">Ingeniero en Software II para area de Calidad</p>
                        <p class="vacantSalary">$15,000 mensual</p>
                        <p class="vacantCompany">Medtronic México, S. de R.L. de C.V. (El Lago)</p>
                        <p class="vacantDescription max-lines">Desarrolla, modifica, aplica y mantiene estándares y protocolos de calidad para procesar materiales en productos de materiales terminados o parcialmente terminados. Colabora con las funciones de ingeniería y fabricación para garantizar que se cumplan los estándares de calidad.</p>
                        <p class="vacantDate">18 Nov Tijuana</p>
                    </div>
                </div>
                <hr class="vacantsDivider">
                <div class="col-2">
                    <img id="vacantLogo" src="img/logoMedtronic.png">
                </div>
                <div class="col-9">
					<div class="vacantElement flex">
                        <p class="vacantName">Ingeniero en Software II para area de Calidad</p>
                        <p class="vacantSalary">$15,000 mensual</p>
                        <p class="vacantCompany">Medtronic México, S. de R.L. de C.V. (El Lago)</p>
                        <p class="vacantDescription max-lines">Desarrolla, modifica, aplica y mantiene estándares y protocolos de calidad para procesar materiales en productos de materiales terminados o parcialmente terminados. Colabora con las funciones de ingeniería y fabricación para garantizar que se cumplan los estándares de calidad.</p>
                        <p class="vacantDate">18 Nov Tijuana</p>
                    </div>
                </div>
                <hr class="vacantsDivider">
                <div class="col-2">
                    <img id="vacantLogo" src="img/logoMedtronic.png">
                </div>
                <div class="col-9">
					<div class="vacantElement flex">
                        <p class="vacantName">Ingeniero en Software II para area de Calidad</p>
                        <p class="vacantSalary">$15,000 mensual</p>
                        <p class="vacantCompany">Medtronic México, S. de R.L. de C.V. (El Lago)</p>
                        <p class="vacantDescription max-lines">Desarrolla, modifica, aplica y mantiene estándares y protocolos de calidad para procesar materiales en productos de materiales terminados o parcialmente terminados. Colabora con las funciones de ingeniería y fabricación para garantizar que se cumplan los estándares de calidad.</p>
                        <p class="vacantDate">18 Nov Tijuana</p>
                    </div>
                </div>
                <hr class="vacantsDivider">
                <div class="col-2">
                    <img id="vacantLogo" src="img/logoMedtronic.png">
                </div>
                <div class="col-9">
					<div class="vacantElement flex">
                        <p class="vacantName">Ingeniero en Software II para area de Calidad</p>
                        <p class="vacantSalary">$15,000 mensual</p>
                        <p class="vacantCompany">Medtronic México, S. de R.L. de C.V. (El Lago)</p>
                        <p class="vacantDescription max-lines">Desarrolla, modifica, aplica y mantiene estándares y protocolos de calidad para procesar materiales en productos de materiales terminados o parcialmente terminados. Colabora con las funciones de ingeniería y fabricación para garantizar que se cumplan los estándares de calidad.</p>
                        <p class="vacantDate">18 Nov Tijuana</p>
                    </div>
                </div>
                <button id="btnShowMore" class="buttonSolid btn btn-outline-success" type="submit">Mostrar más empleos</button>
            </div>
        </div>
    </div>
</div>