#sectionForm{
    margin: 184px 0;
}

#companyRegistrationForm{
    margin: 64px 0;
}

#formTitle{
    font-size: x-large;
}

.formContent{
    font-size: medium;
    text-align: justify;
}

.btnMargin{
    margin-top: 32px;
}

.formSubtitle{
    font-size: large;
    margin-top: 48px;
    margin-bottom: 4px;
}

#formDivider{
    margin-top: 0;
    margin-bottom: 8px;
}

.btnLong{
    width: 100%;
    margin-top: 32px;
}

.sectionHidden{
    display: none;
}