@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'),
            local('Montserrat Regular'),
            local('Montserrat-Regular'),
            url(../fonts/Montserrat-Regular.ttf) format('truetype');
}

:root {
    --color-blue-main: #002F6C;
    --color-blue-dark: #072650;
    --color-blue-light: #004299;
    --color-grey-main: #EEEEEE;
    --color-grey-dark: #858585;
    --color-black: #181818;
}

body{
    font-family: 'Montserrat';
    color: var(--color-black);
}

.navbar{
    background-color: var(--color-blue-main)!important;
    font-weight: 600;
}

.navbar-dark .navbar-nav .nav-link{
    color: white;
    padding-right: 30px;
}

.buttonSolid {
    background-color: var(--color-blue-main)!important;;
    color: white;
    border-color: var(--color-blue-main);
    font-weight: 600;
}

.buttonSolid:hover,
.buttonSolid:active,
.buttonSolid:visited,
.buttonSolid:focus {
    background-color: var(--color-blue-dark)!important;
    border-color: var(--color-blue-dark);
    color: white;
}

.buttonSolidInverted {
    background-color: white;
    color: var(--color-blue-main);
    border-color: var(--color-blue-main);
    font-weight: 600;
}

.buttonSolidInverted:hover,
.buttonSolidInverted:active,
.buttonSolidInverted:visited,
.buttonSolidInverted:focus {
    background-color: var(--color-grey-main)!important;
    border-color: var(--color-blue-dark);
    color: var(--color-blue-dark);
}

.buttonBorder {
    color: white;
    border-color: white;
    font-weight: 600;
}

.buttonBorder:hover,
.buttonBorder:active,
.buttonBorder:visited,
.buttonBorder:focus {
    background-color: white;
    border-color: var(--color-blue-main);
    color: var(--color-blue-main);
}

.btn-wide{
    width: 100%;
}

#footerContainer{
    background-color: var(--color-blue-main)!important;
}

#footerContent{
    padding: 16px 0px;
}

#footerImage{
    height: 175px;
    width: auto;
}

#footerImageSection{
    display: flex; 
    justify-content: flex-end;
    margin-bottom: 0px;
}

.footerTitle{
    font-size: large;
    color: white;
}

.footerParagraph{
    font-size: small;
    text-align: justify;
    color: white;
}