#mini-banner{
    background-color: var(--color-blue-light)!important;
    height: 120px;
    align-items: flex-start;
    text-align: left;
}

#searchDivider{
    margin: 32px 0;
}

#searchMatches{
    margin: 32px 0;
    text-align: right;
    font-size: smaller;
}

#vacantsSearchBar{
    padding-top: 40px;
}

#vacantLogo{
    border: 1px solid var(--color-grey-main);
    padding: 8px;
    max-width: 100%;
    background-color: white;
    object-fit: contain;
    aspect-ratio: 1;
    height: auto;
}

.vacantsDivider{
    border-top: 1px solid var(--color-grey-main);
    margin: 20px 0px;
    opacity: 1;
}

.vacantCompany{
    font-size: small;
    margin-bottom: 8px;
}

.max-lines{
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
           line-clamp: 2; 
   -webkit-box-orient: vertical;
}

#btnShowMore{
    margin: 48px 0px;
    width: 50%;
}